*{
    margin:0%;
    padding:0%;
    text-align: center;
}
body{
    background-color: #e3e6eb;
}
h1{
    background-color: #3B82F6;
    color: white;
    height: 5rem;
    text-align: center;
    line-height:  5rem;
}

.choice:hover {
    background-color:  skyblue;
    opacity: 0.8;
    border-color:  skyblue;
    box-shadow:
        0 0 5px   skyblue,
        0 0 10px  skyblue,
        0 0 20px  skyblue,
        0 0 40px  skyblue;
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    
}


.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 3.2rem;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
        border : 2px solid black;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap: 5rem;
}

#user-score{
  font-size: 4rem;
}

#comp-score{
  font-size: 4rem;
}

.msg-container {
  margin-top: 5rem;
}

#msg {
    background-color: #3B82F6;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}